<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task1</title>
</head>
<body>
    <div class="container">
        <form action="/" method="post">
    <input type="email" name="email" id="email" placeholder="Enter your email address here">
         <input type="submit" value="Reset">
         </form>
        <p>Your password would be given to you</p>
   
    </div>
    
</body>
</html>