<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task1</title>
    <style>
        body{
            display: grid;
            place-items: center;
            margin: 50px;
           
        }
        a{
            text-decoration: none;
            color: black;
            margin-top: 10px;
            text-align: center;
        }

         a:hover{
            text-decoration: underline;
        }
        </style>

</head>
<body>
    <img src="/assests/images/bg.jpg" alt="">
    <H1>Welcome to the Home page</H1>
   <a href="/login">Login</a><a href="/signup">SignUp</a>
</body>
</html>