<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 1</title>
     <style>
        body{
            display: grid;
            place-items: center;
            margin: 50px;
            
        }
        a{
            text-decoration: none;
            color: black;
            margin-top: 10px;
            text-align: center;
        }

         a:hover{
            text-decoration: underline;
        }
        </style>
</head>
<body>
    <H1>Thank you Page!!!</H1>
    <h3>Your Login/SignUp has been successfull</h3>
    <a href="/">Want to return to home page</a>
</body>
</html>